<div class="welcome-container">
    <h2>Bienvenido</h2>

    <% if (user) { %>
        <p>Hola <%= user.username %>!</p>
        <div class="buttons-home-container">
            <a href="/protected" class="btn">Ir al 치rea protegida</a>
            <a href="/logout" class="btn">Cerrar sesi칩n</a>
        </div>
        <% } else { %>
            <p>No has iniciado sesi칩n.</p>
            <div class="buttons-home-container">
                <a href="/login" class="btn">Iniciar sesi칩n</a>
                <a href="/register" class="btn">Registrarse</a>
            </div>

            <% } %>
</div>