<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration Forms</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %> <!-- Carga el encabezado -->

        <main>
            <%- include(body) %> <!-- Contenido dinámico de las vistas -->
        </main>

        <%- include('partials/footer') %> <!-- Carga el pie de página -->
            <script src="/js/script.js"></script>
</body>

</html>